#app {
  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: $sideBarWidth;
    transition: margin-left 0.28s;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: rgb(0, 21, 41);
    font-size: 0;
    transition: width 0.28s;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      width: 100% !important;
      // height: 100%;
      border: none !important;
    }

    .el-menu-item.is-active {
      color: $subMenuActiveText !important;
      background-color: #1989FA !important;
    }

    .menu2 .el-menu .el-menu-item.is-active {
      color: #333335 !important;
      background-color: #FFFFFF !important;
    }

    .menu2 .el-menu .el-menu-item.active {
      background: #ECEDF1 !important;
      color: #606266;
      &:hover {
        background: #ECEDF1 !important;
        color: #333335;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: 144px !important;
    }
  }
}
