
.g-api-loading {
  z-index: 10000;
}

.g-btn {
  padding: 0 20px;
  font-size: 14px;
  &.s-btn-pd-15 {
    padding: 0 15px;
  }
  &.s-btn-height-32 {
    height: 32px;
  }

  &.s-btn-height-40 {
    height: 40px;
  }

  &.s-btn-plain-theme {
    background: #FFFFFF !important;
    color: $--color-primary;
    border-color: $--color-primary;

    &:hover {
      background: $--color-primary !important;
      opacity: .8;
      color: #FFFFFF !important;
    }
  }
}

.g-status-icon {
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
  }

  &.s-status-radius::before {
    border-radius: 50%
  }

  &.s-status-primary::before {
    background: $--color-primary;
  }

  &.s-status-pending::before {
    background: $color-pending;
  }

  &.s-status-success::before {
    background: $color-success;
  }

  &.s-status-fail {
    color: $color-fail;
    &::before {
      background: $color-fail;
    }
  }
}
