@import './element-variables.scss';
@import "./variables";
@import "./utils-g";
@import "./utils-f";

.popperNav {
  background: rgba(27, 27, 39, 0.9);

  /deep/ .popper__arrow {
    &::after {
      border-bottom-color: rgba(27, 27, 39, 0.9) !important;
    }
  }
}

.popperNav > .popper__arrow::after {
  border-bottom-color: rgba(27, 27, 39, 0.9) !important;
}

/*IE placeholder兼容性*/
.ie-placeholder {
  position: absolute;
  font-size: 14px;
  color: #888;
  pointer-events: none;
}

